<!-- Page !page_num! (Finished) -->
<div class="ui-tabs-panel ui-tabs-hide" id="tabs-!page_num!">
    <div class="col-xs-12 col-md-12 col-centered">
        <h3>Thank you for completing the HIT! Your additional earnings of ${offer_amt} will be paid via the &quot;bonus&quot; feature. Click the &quot;Submit&quot; button below to finish.</h3>
        <div>&nbsp;</div>
        <input type="submit" id="submitButton" class="btn btn-primary center-block" value="Submit" style="">
    </div>
</div>
<!-- End Page !page_num! (Finished) -->