    </div><!-- End tabs -->
</div><!-- End page-wrap -->
<style type="text/css">
#show-hide-instructions {
    color: white;
    text-decoration: underline;
}
#show-hide-instructions:hover {
    cursor: pointer;
}
a.mover {
    background: #900;
    padding: 6px 12px;
    position: absolute;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.next-tab {
    bottom: 0;
    right: 0;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}
.prev-tab {
    bottom: 0;
    left: 0;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}
.imagecontainer {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #fbfbfb;
    width:1000px;
}
.inputfields {
    display:block;
    float:left;
}
.hidden {
    display:none;
}
/*.ui-tabs .ui-tabs-panel {
    border: none !important;
}*/
.ui-tabs.ui-widget-content {
    border: none;
}
.pdbexample {
    font-size: 90%;
}
.async-load {
    background: url(https://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif) 50% no-repeat;
}
</style>