<section class="container" id="TaskInstructions">
    <!-- Instructions -->
    <a name="instructions-top"></a>
    <div class="row col-xs-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Instructions</strong>
                <span> [<a href="#" id="show-hide-instructions">Show</a>] </span>
            </div>

            <div class="panel-body" id="instructionBody" style="display: none;">
                <p>Use the 5 text input boxes at the top of the page to enter the <strong>first 5 entities</strong> referred to in the <strong>section headers</strong> of the PDF document below. For this task, an <strong>entity</strong> is any one of the following:
                <ul>
                    <li>A <strong>country/geographic region</strong> (for example: Iran, East Asia, London),</li>
                    <li>A <strong>person</strong> (for example: Fidel Castro, Nelson Mandela, Khrushchev), or</li>
                    <li>An <strong>organization</strong> (for example: the United Nations, NATO, "Palestinian Guerrillas").</li>
                </ul>
                If there are more than 5 entities referred to in the PDF, please enter only the first 5. If there are fewer than 5 entities referred to in the PDF, please enter "NA" in the remaining boxes.</p>
                <hr>
                <p class="pdbexample">Each document contains a numbered list of "global issues", each one pertaining to a particular entity or set of entities. For example, in the following image</p>
                    <img src="https://cs.stanford.edu/~jjacobs3/pdb/example.png" width="800px" class="mx-auto d-block center-block">
                <p class="pdbexample">
                    <strong>Item 1</strong> refers to 2 entities: Qasim and Kuwait. It is not important that you know who or what Qasim or Kuwait is, or even know whether these are people or regions, as long as you recognize that 'Qasim' and 'Kuwait' are important subjects/entities within the section header. <strong>Item 2</strong> again refers to 2 entities, De Gaulle and Algeria, and <strong>Item 3</strong> refers to a single entity, Vientiane (again, as long as you recognize that 'Vientiane' is an important entity, it does not matter whether you know that it is specifically a geographic region).
                </p>
                <p class="pdbexample">So, for this document, the list would look like:
                    <ol class="pdbexample">
                        <li>Qasim</li>
                        <li>Kuwait</li>
                        <li>De Gaulle</li>
                        <li>Algeria</li>
                        <li>Vientiane</li>
                    </ol>
                </p>
                <p class="pdbexample">
                    Notice that we have <strong>ignored</strong> the full-length text on the right side of the page -- we only care about the <strong>headers</strong>, the numbered items (on the left-hand side in this example) that give an overview of the section. Often these will simply be the name of an entity, like "Congo", or a short description, like "Situation in East Asia".
                </p>
                <p class="pdbexample">
                    Once you have entered the first 5 entities (even if the document contains more than 5 items), click the "Next Page" button in the bottom-right corner of the interface to continue on to the next page of the HIT. (<a href="#" id="clickHideInstructions">Click here to hide these instructions after reading</a>)
                </p>
            </div>
        </div>
    </div>
    <!-- End Instructions -->
</section>