<div class="ui-tabs-panel ui-tabs-hide" id="tabs-!page_num!">
    <div class="col-xs-12 col-md-12 col-centered">
        <h2 class="row">Task Description and Consent Form</h2>
        <div class="row">
            For this task, you will be asked to fill out some simple demographic info on the first page. Then, you will be asked to perform a data entry task (identifying people, organizations, and geographic entities mentioned in a PDF documents). You can click the "Show" button at the top of the Instructions panel above to see the full details of what the data entry task requires.
        </div>
        <div class="row">
            <strong>You may not submit&nbsp;more than one HIT.</strong> Additional HIT requests will be rejected. If you have any questions/concerns please email us at <a href="mailto:columbiatextlab@gmail.com">columbiatextlab@gmail.com</a>.
        </div>
        <div class="row">
            If at any time you have questions or concerns about your rights or welfare as a research subject, contact the Columbia University Morningside Human Research Protection Office (HRPO) at 212-851-7040 or 212-851-7044 (fax) or email <a href="mailto:askirb@columbia.edu">askirb@columbia.edu</a>.
        </div>
        <div class="row">
            <label><input id="consent" name="consent" type="checkbox" value="yes" />&nbsp;I consent to participate in this study</label>
        </div>
        <div class="row">
            (Remember to <strong>accept the HIT</strong> first, and then <strong>check the above consent box</strong>, before continuing!)
        </div>
        <div class="row">&nbsp;</div>
        <a class="next-tab mover submit-page" href="#instructions-top" id="next-!page_num!" rel="!next_page!">Next Page &raquo;</a>
    </div>
</div>