<!-- Page !page_num! (Offer) -->
<div class="ui-tabs-panel ui-tabs-hide" id="tabs-!page_num!">
    <div class="col-xs-12 col-md-12 col-centered">
        <h3>If you&#39;d like to continue and perform ${additional_tasks} additional data entry tasks for ${offer_amt}, please click &quot;Next Page&quot; below.</h3>
        <h3>Otherwise, click the &quot;Submit&quot; button below.</h3>
        <div>&nbsp;</div>
        <input type="hidden" name="accepted-!page_num!" id="accepted-!page_num!"/>
        <a class="next-tab mover submit-page" href="#instructions-top" id="next-!page_num!" rel="!next_page!">Next Page &raquo;</a>
        <input type="submit" id="submitButton" class="btn btn-primary center-block" value="Submit" style="">
    </div>
</div>
<!-- End Page !page_num! (Offer) -->