<div class="ui-tabs-panel ui-tabs-hide" id="tabs-!page_num!">
    <div class="col-xs-12 col-md-12 col-centered">
    <h2>Task #!task_num!</h2>
    <form>
        <div class="form-group">
            <ol id="entlist!task_num!">
                <li id="t!task_num!item1"><input type="text" id="t!task_num!ent1"></li>
                <li id="t!task_num!item2"><input type="text" id="t!task_num!ent2"></li>
                <li id="t!task_num!item3"><input type="text" id="t!task_num!ent3"><br></li>
                <li id="t!task_num!item4"><input type="text" id="t!task_num!ent4"><br></li>
                <li id="t!task_num!item5"><input type="text" id="t!task_num!ent5"><br></li>
                <li style="list-style-type:none;" id="t!task_num!itemAddNew"><a href="#" onclick="addRow(!task_num!); return false;">Add Additional Row...</a></li>
            </ol>
        </div>
    </form>
    </div>
    <div>&nbsp;</div>
    <a class="next-tab mover submit-page" href="#instructions-top" id="!page_num!" rel="!next_page!">Next Page &raquo;</a>
</div>